<!--pages/details/details.wxml-->
<import src="../../lib/wxParse/wxParse.wxml"/>
<view class="details" hidden="{{!loaded}}">
  <view class="title">{{details.title}}</view>
  <view class="theme-tips">
    <image class="avatar" src="{{details.author.avatar_url}}"></image>
    <view class="theme-tip-main">
      <view class="theme-tip-top">{{details.author.loginname}}</view>
      <view class="theme-tip-bottom">
      {{details.create_at}} 创建 • {{details.visit_count}} 次浏览
      </view>
    </view>
    <image wx:if="{{details.is_collect}}" id="{{details.id}}" bindtap="cancelCollect" class="collect" src="../../images/ic_collect_actived.png"></image>
    <image wx:else class="collect" id="{{details.id}}" bindtap="collect" src="../../images/ic_collect_default.png"></image>
  </view>
  <template is="wxParse" data="{{wxParseData:article.nodes}}"/>
</view>