<!--pages/login/login.wxml-->
<view class="container">
  <view class="title">Acess Token</view>
  <input class="token-input" placeholder="请输入Token" value="{{token}}" bindinput="getInpt"></input>
  <button class="weui-btn self-btn" type="warn" bindtap="login">登录</button>
  <view class="scanner-code" bindtap="scanning">
    <image src="../../images/ic_qr_scanner.png"></image>
    扫码登录
  </view>
</view>
